.navbar {
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: flex-start;
}

.navbar ul {
    list-style: none;
    overflow: hidden;
}

.navbar li a {
    text-decoration: none;
    color: black;
}

.navbar .logo {
    font-size: 2rem;
    text-decoration: none;
}

.navbar .navbar__menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.navbar .menu__icone {
    cursor: pointer;
    padding: 1.75rem 0;
    position: relative;
    user-select: none;
}

.navbar .menu__icone .navicon {
    background: black;
    display: block;
    height: .15rem;
    position: relative;
    transition: background .2s ease-out;
    width: 1.1rem;
}

.navbar .menu__icone .navicon:before,
.navbar .menu__icone .navicon:after {
    background: black;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.navbar .menu__icone .navicon:before {
    top: .3rem;
}

.navbar .menu__icone .navicon:after {
    top: -.3rem;
}

.navbar .menu__btn {
    display: none;
}

.navbar .menu__btn:checked~.navbar__menu {
    max-height: 18rem;
}

.navbar .menu__btn:checked~.menu__icone .navicon {
    background: transparent;
}

.navbar .menu__btn:checked~.menu__icone .navicon:before {
    transform: rotate(-45deg);
}

.navbar .menu__btn:checked~.menu__icone .navicon:after {
    transform: rotate(45deg);
}

.navbar .menu__btn:checked~.menu__icone:not(.steps) .navicon:before,
.navbar .menu__btn:checked~.menu__icone:not(.steps) .navicon:after {
    top: 0;
}